.postingForm {
  margin-left: 30%;
  border-color: grey;
  border-radius: 5px;
  border-style: solid;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#villeA,
#villeD,
#autoroute,
#nbSiege,
#date,
#prix {
  width: 400px;
}
.header {
  color: #e6b30e;
  padding: 10px;
  text-align: center;
  margin-top: 0px;
  font-size: 40px;
}
.postingButton {
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e6b30e;
  background-color: #e6b30e;
}
