.postingForm {
  margin-left: 30%;

  border-radius: 5px;

  padding-left: 50px;
  border-color: #4682b4;
  padding-right: 50px;
  padding-bottom: 10px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0 #4682b4;
  background: #f7f8f8;
}

#villeA,
#villeD,
#autoroute,
#nbSiege,
#date,
#prix {
  width: 400px;
}
.header {
  color: #e6b30e;
  padding: 10px;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.postingButton {
  width: 100px;
  border-radius: 5px;
  border-style: solid;
  border-color: #e6b30e;
  background-color: #e6b30e;
}
