.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: inset;
  padding: 0;
  margin: 0;

  border-color: #e6b30e;
  background-color: #4682b4;
}
.search {
  float: right;
  width: 200px;
  margin: 15px;
  height: 30px;
  border-color: #e6b30e;
  color: #e6b30e;
}
.btn1 {
  float: right;
  width: 80px;
  margin-top: 15px;
  margin-right: 8px;
  border-color: #e6b30e;
  color: #e6b30e;
}
.btn2 {
  float: right;
  width: 80px;
  margin-top: 15px;
  margin-right: 8px;
  border-color: #e6b30e;
  color: #e6b30e;
}
.logo {
  position: relative;
  height: 50px;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
}
