.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: inset;
  padding: 0;
  margin: 0;
  border-color: #e6b30e;
  background-color: #4682b4;
}

.navButton {
  color: white;
  padding: 14px;

  font-size: 20px;
}
.navLinks {
  margin-top: 15px;
  display: inline-block;
}
.navButton:hover {
  color: #e6b30e;
}
.logo {
  position: relative;
  height: 50px;
  padding: 0;
  margin-top: 8px;
  margin-left: 30px;
}
.avatar {
  float: right;
  margin-top: 12px;
  margin-right: 5px;
}
.signOutButton {
  width: 100px;
  margin: 0;
  margin-top: 15px;
  margin-right: 0;
  margin-left: 0;
  border-color: #e6b30e;
  color: #e6b30e;
}
