.ant-carousel .slick-slide {
  text-align: center;
  height: 450px;
  line-height: 200px;

  background: #e6b30e;
  overflow: hidden;
  margin-top: 70px;
}
.ant-carousel .slick-slide h1 {
  color: #fff;
  font-size: 40px;
}
